<mat-card>
    <form #carForm="ngForm">
      <mat-card-title> Edit Targets </mat-card-title>
      <mat-card-content>
        <div class="example-container" *ngFor='let target of targets'>
            <mat-form-field>
                <input matInput name="id" [(ngModel)]="target.id" placeholder="id" disabled >
              </mat-form-field>
          <mat-form-field>
            <input matInput name="titulo" [(ngModel)]="target.titulo" placeholder="titulo" >
          </mat-form-field>      
          <mat-form-field>
            <textarea matInput name="descricao" [(ngModel)]="target.descricao" placeholder="descricao" ></textarea>
          </mat-form-field>     
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-row">
          <button mat-button color="primary" (click)="goBack()">go back</button>
          <button mat-button color="primary" (click)="save(carForm.value)" >save</button>
          <button mat-button color="red" (click)="deleteDialog()">delete</button>
        </div>  
      </mat-card-actions>
    </form>  
</mat-card>