<div *ngFor='let target of targets'>
    <mat-card-title> DELETEEEEEEEEEEE Targets </mat-card-title>
    <div mat-dialog-content>
        Você TEM Certeza que deseja apagar o seguinte dados?
        Id: {{ target.id }}
        Titulo:{{ target.titulo }}
        Descrição: {{ target.descricao }}    
    </div>          
    <div mat-dialog-actions>
        <button mat-button (click)=confirmDelete(target.id) color="primary">Delete</button>
        <button mat-button (click)=closeDelete(target.id)>Fechar</button>
    </div>
</div>