  <!-- <ul>
      <li *ngFor='let targets of targets.data'>
          <span class="badge">{{targets.id}}</span>  {{targets.titulo}}

        <h2>{{targets.descricao}} details!</h2>
      </li>
  </ul> -->

  <mat-card>
    <mat-card-header>
      <mat-card-title>Publico Alvo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-table #table [dataSource]="dataSource.data.data" >
          <mat-header-row *matHeaderRowDef=displayedColumns></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
            <mat-cell *matCellDef="let targets"> {{targets.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="titulo">
              <mat-header-cell *matHeaderCellDef> titulo </mat-header-cell>
              <mat-cell *matCellDef="let targets"> {{targets.titulo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let targets" routerLink="{{targets.id}}" >                
                  <mat-icon matListIcon>font_download</mat-icon>
                  <span>EDITAR</span>
                </mat-cell>
        </ng-container>   
      </mat-table>      
        <button mat-mini-fab>
          <mat-icon aria-label="add" (click)="openDialog()">add</mat-icon>
        </button>
    </mat-card-content>
  </mat-card>

  <!-- routerLink="target/{{targets.id}}" -->


   
