
  <form #targetForm="ngForm" (ngSubmit)="confirmAdd(targetForm.value)">
    <mat-card-title> Add Targets </mat-card-title>
    <div mat-dialog-content>
      
        <mat-form-field>
          <input matInput name="titulo" [(ngModel)]="multiInput.titulo" placeholder="titulo" >
        </mat-form-field>      
        <mat-form-field>
          <textarea matInput name="descricao" [(ngModel)]="multiInput.descricao" placeholder="descricao" ></textarea>
        </mat-form-field>
      
    </div>
    <div mat-dialog-actions>
      <button mat-button color="primary">Salvar</button>
      <button mat-button (click)="dialogRef.close()">Fechar</button>
    </div>
  </form>  