<mat-sidenav-container class="example-container" autosize >
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button (click)="sidenav.toggle()" mode="side">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="component-title">
        <a class="title-link">FABIANAA TAVARES</a>
      </h1>
      <span class="toolbar-filler"></span>
      <!--<button id="button-login" md-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>-->
      <button mat-button>Log Out</button>
    </mat-toolbar>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="push" fixedInViewport="true">
    <mat-toolbar>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>    
    </mat-toolbar>

    <mat-nav-list>
        <!-- EXEMPLO de LINKAGEM -->
        <mat-list-item class="sidenav-link" [routerLink]="['/dashboard']" (click)="sidenav.toggle()">
          <mat-icon matListIcon>dashboard</mat-icon> 
          <span>Dashboard</span>
        </mat-list-item>
        <!-- FIM EXEMPLO DE LINKAGEM -->

        <mat-list-item routerLink="/person">
          <mat-icon matListIcon>person</mat-icon>
          <span>Person</span>  
        </mat-list-item>

        <mat-list-item class="sidenav-link" routerLink="./author">
          <mat-icon matListIcon>font_download</mat-icon>
          <span>Author</span>  
        </mat-list-item>

        <mat-list-item class="sidenav-link" [routerLink]="['./content']">
          <mat-icon matListIcon>description</mat-icon> 
          <span>Content</span>
        </mat-list-item>

        <a><mat-list-item>
          <mat-icon matListIcon>title</mat-icon>
          <span>Keywords</span>
        </mat-list-item></a>

        <mat-list-item class="sidenav-link" routerLink="./target">
          <mat-icon matListIcon>gps_fixed</mat-icon>
          <span>Public Target</span>
        </mat-list-item>

        <a><mat-list-item>
            <mat-icon matListIcon>insert_photo</mat-icon>
            <span>Themes</span>
          </mat-list-item></a>

          <a><mat-list-item>
              <mat-icon matListIcon>attach_file</mat-icon>
              <span>Archives</span>
            </mat-list-item></a>
    </mat-nav-list>
    
  </mat-sidenav>    <!-- 
  <router-outlet></router-outlet> -->
</mat-sidenav-container>

  