<router-outlet></router-outlet>


    <p >
        admin-author works!
      </p>
      <h2>My Heroes</h2>
      
      
      <p>
          Lista de Cursos do Portal {{ title }}
        </p>
        
        
        <ul>
          <li *ngFor="let curso of authors">
            {{curso}}
          </li>
        </ul>

